/* Start Varialbes */
  :root {
    --mainColor: #19c8fa;
    --seColor: white;
    --transparent-Color: rgba(15 116 143 / 70%);
  }
/* End Varialbes */

/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* Small */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Combonent */
.special-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  width: fit-content;
  margin: 30px auto 50px;
}
.special-text::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #333;
  bottom: -25px;
  left: 15%;
}
.special-text::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: white;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -34px;
  left: 25%;
  animation: simple 3s infinite alternate;
  -webkit-animation: simple 3s infinite alternate;
}
.special-text + p {
  max-width: 520px;
  margin: auto;
  text-align: center;
  color: #777;
  line-height: 1.6;
  font-size: 1em;
}
@keyframes simple {
  to {
    left: 65%;
  }
}
/* End Combonent */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  z-index: -1;
}
header .container .logo {
  height: 40px;
}
header .container .logo img {
  height: 100%;
}
header .container .links {
  /* عشان ياخد المساحة كلها */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container .links .toggle-menu {
  color: var(--seColor);
  font-size: 22px;
}
@media (min-width: 767.98px){
  header .container .links .toggle-menu {
    display: none;
  }
}
header .container .links ul {
  display: flex;
}
@media (max-width: 767.98px){
  header .container .links ul {
    display: none;
  }
  header .container .links .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
  } 
  header .container .links ul a {
    padding: 15px !important;
  }
}
header .container .links ul li a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: var(--seColor);
  height: 100%;
  padding: 40px 10px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .links ul li:first-child a,
header .container .links ul li:hover a {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
header .container .links ul li a::before {
  content: "";
  position: absolute;
  width: fit-content;
  height: 2px;
  background-color: var(--mainColor);
}
header .container .links ul li a:hover {
  color: var(--mainColor);
}
header .container .links .search {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid var(--seColor);
  position: relative;
}

header .container .links .search .rr {
  display: none;
}

header .container .links .search .rr::before {
  content: "";
  width: 20px;
  height: 15px;
  background: #333;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  right: 0;
  bottom: -17px;
}
header .container .links .search .rr input {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #333;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: white;
}

header .container .links .search:hover .rr {
  display: block;
}

header .container .links .search i {
  position: absolute;
  color: var(--seColor);
  font-size: 20px;
  top: 50%;
  left: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header .container .links i:hover {
  color: var(--mainColor);
}
/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  /* if the image not working the color will be avilable */
  background-color: #333;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ec;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-Color);
  color: var(--seColor);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px){
  .landing .text {
    width: 100%;
    justify-content: center;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-weight: normal;
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 1.5;
}
.landing .text .content p {
  line-height: 2;
  font-size: 15px;
}
.landing .lala {
  position: absolute;
  z-index: 5;
  /*color: #ddd;
  */top: 50%;
  transform: translateY(-50px);
  font-size: 25px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: transparent;
  background: linear-gradient(-45deg, var(--seColor), var(--mainColor));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200px;
  background-position-x: 25px;
  animation: angle 1s alternate infinite;
  -webkit-animation: angle 1s alternate infinite;
}

@keyframes angle {
  to{background-position-x: 125px;}
}

.landing .fa-angles-left {
  left: 15px;
}
.landing .fa-angles-left:hover {
  color: var(--mainColor);
}
.landing .fa-angles-right {
  right: 15px;
}
.landing .fa-angles-right:hover {
  color: var(--mainColor);
}
.landing .circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 6%;
}
.landing .circle li {
  color: white;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .circle li.active,
.landing .circle li:hover {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
} 
/* End Landing */
/* Start Services */
.services {
  padding: 60px 0;
}
.services .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container {
  margin-top: 100px;
}
.services .container .srv-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}
.services .container .srv-con .box {
  display: flex;
}
@media (max-width: 1199.98px){
  .services .container .srv-con {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services .container .srv-con .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services .container .srv-con .box .text {
    margin: 30px auto !important;
  }
  .services .container .srv-con .box .text h3 {
    margin: auto auto 25px !important;
  }
}
.services .container .srv-con .box:hover i {
  animation-play-state: running;
}
.services .container .srv-con .box .text {
  margin-left: 50px;
}
.services .container .srv-con .box .text h3 {
  margin: 0 0 25px;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.services .srv-con .box .text h3::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0%;
  left: 50%;
  height: 1px;
  background: var(--mainColor);
  transform: translateX(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .container .srv-con .box:hover .text h3::before {
  width: 100%;
}
.services .container .srv-con .box .text p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 20px;
  max-width: 550px;
}
/* End Services */
/* Start Design */
.design {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
}
.design .overlay {
  background-color: #000000b0;
}
.design .deisgn-container {
  display: flex;
  z-index: 5;
  position: relative;
}
.design .deisgn-container .con {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.design .deisgn-container .con .image {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  animation: up 2s infinite alternate;
  -webkit-animation: up 2s infinite alternate;
}
@keyframes up {
  to {
    top: 10px;
  }
}
.design .deisgn-container .con img {
  position: absolute;
  bottom: -150px;
  left: 140px;
}
.design .con .image::before {
  content: "";
  position: absolute;
  top: 110px;
  left: 154px;
  width: 200px;
  height: 330px;
  overflow: hidden;
  background-image: url(../images/batfleckone.jpg);
  background-size: cover;
  z-index: 5;
  pointer-events: none;
}
.design .con .image::after {
  content: "";
  position: absolute;
  z-index: 5;
  background: url(../images/batflecktwo.jpg);
  background-size: cover;
  background-position-x: -50px;
  width: 102px;
  height: 300px;
  top: 165px;
  left: 366px;
}
.design .deisgn-container .con .box {
  background-color: var(--transparent-Color);
  color: var(--seColor);
  padding: 55px;
  height: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.design .deisgn-container .con .box h3 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 60px;
}
.design .deisgn-container .con .box i {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.design .deisgn-container .con .box i::before {
  margin-right: 20px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}
@media (max-width: 991.98px){
  .design .deisgn-container .con .image {
    display: none;
  }
  .design .deisgn-container .con .box {
    width: 100%;
  }
}
/* End Design */
/* Start Portfolio */
.por {
  padding: 60px 0;
}
.por .btn {
  text-align: center;
  margin: 100px 0 50px;
}
.por .btn a {
  margin-left: 5px;
  padding: 10px;
  color: #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .btn a:first-child,
.por .btn a:hover {
  color: var(--seColor);
  background-color: var(--mainColor);
}
.por .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (min-width: 1200px){
  .por .boxes {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
.por .boxes .photos {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.por .boxes .photos img.one {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .boxes .photos:hover img.one {
  rotate: 3deg;
  opacity: 0.8;
  scale: 1.2;
}
.por .boxes .photos img.add {
  position: absolute;
  width: 0;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}
.por .boxes .photos .caption {
  position: absolute;
  left: 0;
  bottom: -80px;
  padding: 15px;
  background: white;
  width: 100%;
  transition: 0.3s;
}
.por .boxes .photos:hover img.add {
  width: 30%;
}
.por .boxes .photos:hover .caption {
  bottom: 0;
}
.por .boxes .photos .caption h4 {
  margin-bottom: 10px;
}
.por .boxes .photos .caption p {
  color: var(--mainColor);
}
.por .button-por {
  display: block;
  font-size: 20px;
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--seColor);
  padding: 10px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .button-por:hover {
  background-color: #14abd4;

}
/* End Portfolio */
/* Start Awesome */
.awesome {
  position: relative;
}
.awesome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
}
.awesome .awesome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  color: var(--seColor);
  background-color: var(--transparent-Color);
  padding: 50px;
}
.awesome .awesome-container h3 {
  font-weight: normal;
  margin: 20px 0;
  font-size: 25px;
}
.awesome .awesome-container h5 {
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0;
}
.awesome .awesome-container a {
  display: block;
  margin-bottom: 20px;
  color: var(--seColor);
  background-color: black;
  width: fit-content;
  margin: auto auto 20px;
  padding: 10px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 767.98px){
  .awesome .awesome-container h3 {
    font-size: 20px;
  }
  .awesome .awesome-container h5 {
    font-size: 15px;
  }
  .awesome .awesome-container a {
    margin: auto;
  }
}
.awesome .awesome-container a:hover {
  background-color: #0a0a0a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* End Awesome */
/* Start About */
.about {
  padding: 60px 0;
  overflow: hidden;
}
.about img {
  position: relative;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-53%, 50%);
}
/* End About */
/* Start Awards */
.awards {
  padding: 100px 0;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
}
.overlay-o5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b9;
}
.awards .container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 10px;
}
.awards .container .box {
  text-align: center;
  background: var(--transparent-Color);
  padding: 75px 70px;
  flex: 1;
}
.awards .container .box i {
  position: relative;
}
.awards .container .box i::before {
  position: relative;
  z-index: 5;
}
.awards .container .box i::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-54%, -50%);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-54%, -50%);
  -ms-transform: translate(-54%, -50%);
  -o-transform: translate(-54%, -50%);
}
.awards .container .box h2 {
  font-size: 3em;
  margin: 35px 0 20px;
}
.awards .container .box p {
  font-size: 14px;
}
/* End Awards */