/* Start Varialbes */
  :root {
    --mainColor: #19c8fa;
    --seColor: white;
    --transparent-Color: rgba(15 116 143 / 70%);
  }
/* End Varialbes */

/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* Small */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Combonent */
.special-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  width: fit-content;
  margin: 30px auto 50px;
}
.special-text::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #333;
  bottom: -25px;
  left: 15%;
}
.special-text::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: white;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -34px;
  left: 25%;
  animation: simple 3s infinite alternate;
  -webkit-animation: simple 3s infinite alternate;
}
.special-text + p {
  max-width: 520px;
  margin: auto;
  text-align: center;
  color: #777;
  line-height: 1.6;
  font-size: 1em;
  padding: 0 2px;
}
@keyframes simple {
  to {
    left: 65%;
  }
}
/* End Combonent */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  z-index: -1;
}
header .container .logo {
  height: 40px;
}
header .container .logo img {
  height: 100%;
}
header .container .links {
  /* عشان ياخد المساحة كلها */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container .links .toggle-menu {
  color: var(--seColor);
  font-size: 22px;
}
@media (min-width: 767.98px){
  header .container .links .toggle-menu {
    display: none;
  }
}
header .container .links ul {
  display: flex;
}
@media (max-width: 767.98px){
  header .container .links ul {
    display: none;
  }
  header .container .links .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
  } 
  header .container .links ul a {
    padding: 15px !important;
  }
}
header .container .links ul li a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: var(--seColor);
  height: 100%;
  padding: 40px 10px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .links ul li:first-child a,
header .container .links ul li:hover a {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
header .container .links ul li a::before {
  content: "";
  position: absolute;
  width: fit-content;
  height: 2px;
  background-color: var(--mainColor);
}
header .container .links ul li a:hover {
  color: var(--mainColor);
}
header .container .links .search {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid var(--seColor);
  position: relative;
}

header .container .links .search .rr {
  display: none;
}

header .container .links .search .rr::before {
  content: "";
  width: 20px;
  height: 15px;
  background: #333;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  right: 0;
  bottom: -17px;
}
header .container .links .search .rr input {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #333;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: white;
}

header .container .links .search:hover .rr {
  display: block;
}

header .container .links .search i {
  position: absolute;
  color: var(--seColor);
  font-size: 20px;
  top: 50%;
  left: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header .container .links i:hover {
  color: var(--mainColor);
}
/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  /* if the image not working the color will be avilable */
  background-color: #333;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ec;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-Color);
  color: var(--seColor);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px){
  .landing .text {
    width: 100%;
    justify-content: center;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-weight: normal;
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 1.5;
}
.landing .text .content p {
  line-height: 2;
  font-size: 15px;
}
.landing .lala {
  position: absolute;
  z-index: 5;
  /*color: #ddd;
  */top: 50%;
  transform: translateY(-50px);
  font-size: 25px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: transparent;
  background: linear-gradient(-45deg, var(--seColor), var(--mainColor));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200px;
  background-position-x: 25px;
  animation: angle 1s alternate infinite;
  -webkit-animation: angle 1s alternate infinite;
}

@keyframes angle {
  to{background-position-x: 125px;}
}

.landing .fa-angles-left {
  left: 15px;
}
.landing .fa-angles-left:hover {
  color: var(--mainColor);
}
.landing .fa-angles-right {
  right: 15px;
}
.landing .fa-angles-right:hover {
  color: var(--mainColor);
}
.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 6%;
}
.circle li {
  color: white;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.circle li.active,
.circle li:hover {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
} 
/* End Landing */
/* Start Services */
.services {
  padding: 60px 0;
}
.services .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container {
  margin-top: 100px;
}
.services .container .srv-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}
.services .container .srv-con .box {
  display: flex;
}
@media (max-width: 1199.98px){
  .services .container .srv-con {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services .container .srv-con .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services .container .srv-con .box .text {
    margin: 30px auto !important;
  }
  .services .container .srv-con .box .text h3 {
    margin: auto auto 25px !important;
  }
}
.services .container .srv-con .box:hover i {
  animation-play-state: running;
}
.services .container .srv-con .box .text {
  margin-left: 50px;
}
.services .container .srv-con .box .text h3 {
  margin: 0 0 25px;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.services .srv-con .box .text h3::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0%;
  left: 50%;
  height: 1px;
  background: var(--mainColor);
  transform: translateX(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .container .srv-con .box:hover .text h3::before {
  width: 100%;
}
.services .container .srv-con .box .text p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 20px;
  max-width: 550px;
}
/* End Services */
/* Start Design */
.design {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
}
.design .overlay {
  background-color: #000000b0;
}
.design .deisgn-container {
  display: flex;
  z-index: 5;
  position: relative;
}
.design .deisgn-container .con {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.design .deisgn-container .con .image {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  animation: up 2s infinite alternate;
  -webkit-animation: up 2s infinite alternate;
}
@keyframes up {
  to {
    top: 10px;
  }
}
.design .deisgn-container .con img {
  position: absolute;
  bottom: -150px;
  left: 140px;
}
.design .con .image::before {
  content: "";
  position: absolute;
  top: 110px;
  left: 154px;
  width: 200px;
  height: 330px;
  overflow: hidden;
  background-image: url(../images/batfleckone.jpg);
  background-size: cover;
  z-index: 5;
  pointer-events: none;
}
.design .con .image::after {
  content: "";
  position: absolute;
  z-index: 5;
  background: url(../images/batflecktwo.jpg);
  background-size: cover;
  background-position-x: -50px;
  width: 102px;
  height: 300px;
  top: 165px;
  left: 366px;
}
.design .deisgn-container .con .box {
  background-color: var(--transparent-Color);
  color: var(--seColor);
  padding: 55px;
  height: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.design .deisgn-container .con .box h3 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 60px;
}
.design .deisgn-container .con .box i {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.design .deisgn-container .con .box i::before {
  margin-right: 20px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}
@media (max-width: 991.98px){
  .design .deisgn-container .con .image {
    display: none;
  }
  .design .deisgn-container .con .box {
    width: 100%;
  }
}
/* End Design */
/* Start Portfolio */
.por {
  padding: 60px 0;
}
.por .btn {
  text-align: center;
  margin: 100px 0 50px;
}
.por .btn a {
  margin-left: 5px;
  padding: 10px;
  color: #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .btn a:first-child,
.por .btn a:hover {
  color: var(--seColor);
  background-color: var(--mainColor);
}
.por .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (min-width: 1200px){
  .por .boxes {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
.por .boxes .photos {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.por .boxes .photos img.one {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .boxes .photos:hover img.one {
  rotate: 3deg;
  opacity: 0.8;
  scale: 1.2;
}
.por .boxes .photos img.add {
  position: absolute;
  width: 0;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}
.por .boxes .photos .caption {
  position: absolute;
  left: 0;
  bottom: -80px;
  padding: 15px;
  background: white;
  width: 100%;
  transition: 0.3s;
}
.por .boxes .photos:hover img.add {
  width: 30%;
}
.por .boxes .photos:hover .caption {
  bottom: 0;
}
.por .boxes .photos .caption h4 {
  margin-bottom: 10px;
}
.por .boxes .photos .caption p {
  color: var(--mainColor);
}
.por .button-por {
  display: block;
  font-size: 20px;
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--seColor);
  padding: 10px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.por .button-por:hover {
  background-color: #14abd4;

}
/* End Portfolio */
/* Start Awesome */
.awesome {
  position: relative;
}
.awesome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
}
.awesome .awesome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  color: var(--seColor);
  background-color: var(--transparent-Color);
  padding: 50px;
}
.awesome .awesome-container h3 {
  font-weight: normal;
  margin: 20px 0;
  font-size: 25px;
}
.awesome .awesome-container h5 {
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0;
}
.awesome .awesome-container a {
  display: block;
  margin-bottom: 20px;
  color: var(--seColor);
  background-color: black;
  width: fit-content;
  margin: auto auto 20px;
  padding: 10px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 767.98px){
  .awesome .awesome-container h3 {
    font-size: 20px;
  }
  .awesome .awesome-container h5 {
    font-size: 15px;
  }
  .awesome .awesome-container a {
    margin: auto;
  }
}
.awesome .awesome-container a:hover {
  background-color: #0a0a0a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* End Awesome */
/* Start About */
.about {
  padding: 60px 0;
  overflow: hidden;
}
.about img {
  position: relative;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-53%, 50%);
}
/* End About */
/* Start Awards */
.awards {
  padding: 100px 0;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
}
.overlay-o5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b9;
}
.awards .container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 10px;
}
.awards .container .box {
  text-align: center;
  background: var(--transparent-Color);
  padding: 75px 70px;
  flex: 1;
}
.awards .container .box i {
  position: relative;
}
.awards .container .box i::before {
  position: relative;
  z-index: 5;
}
.awards .container .box i::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-54%, -50%);
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-54%, -50%);
  -ms-transform: translate(-54%, -50%);
  -o-transform: translate(-54%, -50%);
}
.awards .container .box h2 {
  font-size: 3em;
  margin: 35px 0 20px;
}
.awards .container .box p {
  font-size: 14px;
}
/* End Awards */
/* Start Our Skills */
.our-skills {
  padding: 100px 0;
  overflow: hidden;
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-skills .container .uno,
.our-skills .container .does {
  flex-basis: 45%;
  position: relative;
}
.our-skills .container h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}
.our-skills .container h2 + p {
  color: #777;
  text-align: center;
  line-height: 1.8;
}
.our-skills .container .uno .box-one, 
.our-skills .container .does .content {
  display: flex;
  margin: 60px 0 0;
  flex-wrap: wrap;
}
.our-skills .container .uno .box-one img {
  width: 20%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skills .container .uno .box-one p {
  max-width: 70%;
  margin-left: 40px;
  margin-top: 10px;
  line-height: 1.6;
  border-bottom: 1px solid #ddd;
}
.our-skills .container .uno .box-one h5 {
  text-align: end;
  width: 100%;
  margin-top: -30px;
  font-weight: normal;
  font-size: 14px;
  color: #777;
  margin-left: -15px;
}
.our-skills .container .uno .circle {
  bottom: 90px;
  min-width: 15%;
}
.our-skills .container .uno .circle li {
  border: 1px solid #333;
  width: 15px;
  height: 15px;
}

.our-skills .container .does .content  {
  overflow: hidden;
  margin: 0;
}
.our-skills .container .does .content .adobe {
  margin: 60px 0;
}
.our-skills .container .does .content div {
  width: 100%;
  position: relative;
  margin: 50px 0;
}
.our-skills .container .does .content h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
}
.our-skills .container .does .content span {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  top: 25px;
  background-color: var(--mainColor);
  border-right: 55px solid #DEDADC;
}
.our-skills .container .does .content div::before {
  content: "90%";
  font-size: 15px;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
}
.our-skills .container .does .content div::after {
  content: "";
  width: 20px;
  height: 10px;
  background: black;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: absolute;
  top: 10px;
}
.our-skills .container .does .content .adobe::before {
  right: 35px;
}
.our-skills .container .does .content .adobe::after {
  right: 44px;
}
.our-skills .container .does .content div:nth-child(2) span {
  border-width: 155px;
}
.our-skills .container .does .content .htmlcss::before {
  content: "60%";
  right: 135px;
}
.our-skills .container .does .content .htmlcss::after {
  right: 144px;
}
.our-skills .container .does .content div:nth-child(3) span {
  border-width: 105px;
}
.our-skills .container .does .content .js::before {
  content: "75%";
  right: 85px;
}
.our-skills .container .does .content .js::after {
  right: 94px;
}
.our-skills .container .does .content div:last-child span {
  border-width: 76px;
}
.our-skills .container .does .content .php::before {
  content: "80%";
  right: 58px;
}
.our-skills .container .does .content .php::after {
  right: 67px;
}
@media (max-width: 767.98px){
  .our-skills .container {
    padding: 0 20px !important;
  }
  .our-skills .container .uno .box-one,
  .our-skills .container .does .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-skills .container .uno .box-one p {
    padding-bottom: 30px;
    margin-left: 0;
    text-align: center;
  }
  .our-skills .container .uno .box-one h5 {
    margin-top: -30px;
    margin-left: -40px;
  }
}
@media (max-width: 1199.98px){
  .our-skills .container {
    flex-direction: column;
    padding: 0 120px;
    row-gap: 110px;
  }
  .our-skills .container .uno .circle {
    bottom: -40px;
  }
}
/* End Our Skills */
/* Start Quote */
.quote {
  padding: 100px 0 70px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
}
.quote .container {
  position: relative;
  color: var(--seColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote .container q {
  font-size: 1.9em;
  text-align: center;
  line-height: 1.3;
}
.quote q::before {
  content: "\f10d";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  margin-right: 5px;
}
.quote q::after {
  content: "\f10e";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}
.quote .container span {
  margin-top: 20px;
}
/* End Quete */
/* Start Pricing */
.pricing {
  padding: 60px 0;

}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 70px; margin-bottom: 70px;
}
.pricing .container .pop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  background-color: #FCFCFC;
  text-align: center;
  pointer-events: none;
}
.pricing .container .pop .boxOne {
  width: 100%;
  padding-bottom: 30px;
}
.pricing .container .pop .boxOne h3 {
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.pricing .container .pop .boxOne h2 {
  position: relative;
  font-size: 4em;
}
.pricing .container .pop .boxOne h2::before {
  content: "$";
  position: relative;
  font-size: 0.4em;
  font-weight: normal;
  left: -20px;
  top: -30px;
}
.pricing .container .pop .boxOne h2::after {
  content: "/Mo";
  position: absolute;
  font-size: 0.3em;
  bottom: 10px;
  margin-left: 10px;
}
.pricing .container .pop span {
  padding: 0 10px 13px;
}
.pricing .container .pop .boxTwo {
  width: 100%;
  padding: 25px 25px 10px;
}
.pricing .container .pop .boxTwo a {
  display: block;
  padding: 20px;
  pointer-events: all;
  border: 1px solid var(--mainColor);
  width: fit-content;
  margin: auto;
  color: black;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 5;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
}
.pricing .container .pop .boxTwo a:hover {
  color: white;
}
.pricing .container .pop .boxTwo a::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background: var(--mainColor);
  top: 0;
  left: 0px;
  transform: translateX(-120px);
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.pricing .container .pop .boxTwo a:hover::before {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.bordert1px {
  border-top: 1px solid var(--mainColor);
}
.borderb1px {
  border-bottom: 1px solid var(--mainColor);
}
.pricing .boxThree {
  margin: auto;
  width: 50%;
  padding: 0px;
  text-align: center;
}
.pricing .boxThree p {
  font-size: 20px;
  margin-bottom: 35px;
}
.pricing .boxThree a {
  color: white;
  background-color: var(--mainColor);
  padding: 15px 25px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.pricing .boxThree a:hover {
  color: black;
  background-color: initial;
  border: 1px solid var(--mainColor);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding: 100px 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::before {
  background-color: #00000065;
}
.subscribe .container {
  display: flex;
  position: relative;
  z-index: 5;
}
.subscribe .container form {
  flex-basis: 45%;
  -webkit-flex-basis: 45%;
  -moz-flex-basis: 45%;
  -ms-flex-basis: 45%;
  -o-flex-basis: 45%;
}
.subscribe .container form::before {
  content: "\f0e0";
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: normal;
  font-size: 20px;
  color: white;
  left: 45px;
  pointer-events: none;
}
.subscribe .container form input::placeholder {
  color: var(--seColor);
}
.subscribe .container form input[type="email"] {
  outline: none;
  padding: 20px 25px;
  background: none;
  border: 1px solid var(--seColor);
  border-right-color: transparent;
  position: relative;
  color: var(--mainColor);
  caret-color: var(--mainColor);
  width: calc(100% - 145px);
  padding-left: 55px;
}
.subscribe .container form input[type="submit"] {
  background: var(--mainColor);
  outline: none;
  border: 1px solid var(--seColor);
  padding: 20px 25px;
  border-left-color: transparent;
  margin-left: -10px;
  color: white;
  cursor: pointer;
}
.subscribe .container p {
  color: var(--seColor);
  line-height: 2;
  margin-left: 30px;
}
@media (max-width: 1199.98px){
  .subscribe .container {
    flex-direction: column;
    row-gap: 30px;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding: 60px 0;
}
.contact .container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 60px;
}
.contact .container .box {
  flex-basis: 70%;
}
.contact .container .box form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .container .box form input, 
.contact .container .box form textarea {
  padding: 20px;
  border: 1px solid #cacaca;
  outline: none;
}
.contact .container .box form input[type="email"] {
  margin: 30px 0px;
}
.contact .container .box form input[type="submit"] {
  text-align: center;
  width: fit-content;
  align-self: end;
  margin-top: 25px;
  color: white;
  background-color: var(--mainColor);
  padding: 15px 25px;
  cursor: pointer;
}
.contact .container .boxt {
  padding: 0px 45px;
}
.contact .container .boxt .one {
  margin-bottom: 65px;
}
.contact .container .boxt .one h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact .container .boxt .one p {
  color: #777;
  line-height: 2;
}
.contact .container .boxt .one p.italic {
  font-style: italic;
}
@media (max-width: 767.98px){
  .contact .container {
    flex-direction: column;
  }
  .contact .container .boxt {
    text-align: center;
    order: -1;
  }
}
/* End Contact */
/* Start Footer */
footer {
  padding: 60px 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}
footer .container {
  position: relative;
  z-index: 5;
  color: white;
  text-align: center;
}
footer .container a img {
  width: 10%;
  margin-bottom: 50px;
}
footer .container h3 {
  font-weight: normal;
  font-size: 1.4em;
  text-transform: uppercase;
}
footer .container hr {
  width: 30%;
  margin: 20px auto;
  border-color: #a2a2a2;
}
footer .container .social {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
footer .container .social i {
  cursor: pointer;
}
footer .container .social i.fa-facebook-f:hover {
  color: rgb(123, 123, 255);
}
footer .container .social i.fa-twitter:hover {
  color: rgb(121, 206, 255);
}
footer .container .social i.fa-home:hover {
  color: var(--mainColor);
}
footer .container .social i.fa-linkedin:hover {
  color: rgb(123, 123, 255);
}
@media (max-width: 767.98px){
  footer .container .social {
    width: 30%;
    justify-content: flex-start;
  }
  footer .container .social i {
    padding: 10px;
    margin: auto;
  }
  footer .container a img {
    width: 19%;
  }
}
footer .container p {
  margin-top: 70px;
}
footer .container p span {
  color: var(--mainColor);
  font-weight: bold;
}
/* End Footer */